variables:
  ANDROID_SDK: 28
jobs:
  # Run E2E Tests
  - job: Gradle_Tests
    steps:
      - task: Gradle@2
        inputs:
          workingDirectory: packages/appium-espresso-driver/espresso-server
          gradleWrapperFile: packages/appium-espresso-driver/espresso-server/gradlew
          gradleOptions: '-Xmx3072m'
          publishJUnitResults: true
          testResultsFiles: '**/TEST-*.xml'
          tasks: test
  - template: ../../ci/android/android-e2e-template.yml
    parameters:
      name: E2E_Tests_SDK_28
      script: npx mocha --timeout 6000000 --recursive --reporter dot build/test/functional/ -g @skip-ci -i --exit
      workingDirectory: packages/appium-espresso-driver

  #- job: RealDeviceTests
    #steps:
      #- script: npm install
        #displayName: Install NPM dependencies
    